/*Style de base*/
* {
  font-family: Avenir, sans-serif;
  padding: 0px;
  margin: 0px;
  text-align: justify;
  box-sizing: border-box;
}
/*modification*/
.interetBloc {
  /* display: flex;
    flex-wrap: wrap; */
  /* padding-left: 80px; */
  border: 2px solid #054477;
  border-radius: 5px;
  /* margin: 60px; */
  box-shadow: 0px 0px 20px rgb(68, 67, 67);
  transition: transform 0.2s;
}
.interetBloc:hover {
  background: white;
  transform: scale(1.1);
}
.exp-logo:hover {
  transform: scale(1.2);
}
.interet:hover {
  transform: scale(1.2);
}
.photo:hover {
  transform: scale(1.1);
}
h1 {
  text-align: left;
  animation-duration: 4s;
  animation-name: slidein;
  animation-iteration-count: start;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 400%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
body {
  background: #ededed;
}
p {
  font-size: 1em;
  line-height: 1.5em;
}
a {
  text-decoration: none;
  color: #000;
}
header {
  width: 100%;
  height: 12em;
  padding: 20px 0px;
  background: #20639b;
  color: white;
  box-shadow: 0px 0px 20px rgb(68, 67, 67);
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #20639b;
  height: 3em;
  color: white;
  box-shadow: 0px 0px 20px rgb(68, 67, 67);
}
.interetBloc2 {
  /* display: flex; */
  text-align: center;
  flex-wrap: wrap;
  padding-left: 5px;
  padding-right: 5px;
  border: 2px solid #054477;
  border-radius: 5px;
  margin: 60px;
  box-shadow: 0px 0px 20px rgb(68, 67, 67);
  transition: transform 0.2s;
  width: 40%;
  background: rgba(255, 250, 245, 0.75);
}
.interetBloc2:hover {
  background: white;
  transform: scale(1.1);
}
.interetBloc22 {
  /* display: flex; */
  text-align: center;
  flex-wrap: wrap;
  padding-left: 5px;
  padding-right: 5px;
  border: 2px solid #054477;
  border-radius: 5px;
  margin: 60px;
  box-shadow: 0px 0px 20px rgb(68, 67, 67);
  transition: transform 0.2s;
  width: 40%;
  background: rgba(255, 250, 245, 0.75);
}
.interetBloc22:hover {
  background: white;
  transform: scale(1.1);
}
.interetBloc3 {
  display: flex;
  flex-wrap: wrap;
  background-image: url("../images/NieR.jpg");
  background-size: cover;
  width: 100%;
}
/*Header et Footer*/
/* header, footer{
    width: 100%;
    padding: 20px 0px;
    background: #20639B;
    box-shadow: 0px 0px 15px #333;
}
header{
    border-bottom: 2px solid #fff;
    height: 120px;
} */
header h1 {
  color: white;
  font-size: 1.5em;
  width: 90%;
  margin: 0 auto;
  font-size: 32px;
}

/* footer{
    border-top: 2px solid #fff;
} */
footer p {
  width: 90%;
  margin: 0 auto;
  color: #fff;
  text-align: center;
}
footer a {
  color: #fff;
}

/*Section Général*/
section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  padding-bottom: 20px;
  margin: 20px auto;
  box-shadow: 0px 0px 10px #bbb;
  background-color: #fff;
}

section h2 {
  margin: 10px 0;
  width: 90%;
}
section > div {
  width: 90%;
}

/*Section Info*/
.photo {
  text-align: center;
}
.photo img {
  width: 150px;
  height: 150px;
  border: 3px solid #fff;
  box-shadow: 0px 0px 10px #777;
  border-radius: 50%;
  margin-top: -80px;
}
/* .interetBloc2{
    text-align: center;
    border-bottom: 2px dashed #ccc;
} */
.interetBloc2 a {
  display: flex;
  text-align: center;
  padding: 10px;
  margin: 30px auto 30px auto;
  color: #fff;
  background-color: #20639b;
  box-shadow: 0px 0px 10px #ccc;
  border-radius: 5px;
  width: 200px;
}
.contact-flex {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.contact-flex p:first-child {
  flex: 0 0 40%;
}
.contact-flex p:last-child {
  flex: 0 0 60%;
}
.social {
  display: flex;
  justify-content: space-around;
  margin: 10px auto 0px auto;
}
.social img {
  width: 40px;
  height: 40px;
}

/*Section experience et formation*/
.exp {
  display: flex;
  flex-flow: row wrap;
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.exp-info {
  display: flex;
  flex-flow: column wrap;
}
.exp-logo {
  flex: 0 0 25%;
  max-width: 100px;
}
.exp-info {
  flex: 0 0 70%;
  margin-left: auto;
}
.exp img {
  width: 100%;
}
.exp h3 {
  font-size: 1.2em;
}
.exp h4 {
  font-size: 1em;
  font-weight: normal;
}

/*Section Compétences*/
.h3gauche {
  width: 90%;
}
.comp {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 10px;
}
.comp p {
  flex: 0 0 40%;
}
.conteneur-barre {
  flex: 0 0 60%;
  border-radius: 5px;
  background-color: grey;
  border-bottom: 1px ridge grey;
}
.barre {
  display: block;
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.c80 {
  width: 80%;
  background-color: #054477;
}
.c85 {
  width: 85%;
  background-color: #054477;
}
.c90 {
  width: 90%;
  background-color: #054477;
}
.c95 {
  width: 95%;
  background-color: #054477;
}
.c100 {
  width: 100%;
  background-color: #054477;
  border-radius: 5px;
}
.comp2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.conteneur-barre2 {
  flex: 0 0 100%;
  height: 0.5em;
  margin-bottom: 0.25em;
  border-radius: 5px;
  background-color: grey;
}

/*Section Intérets*/

.interet {
  flex: 0 1 50%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-bottom: 20px;
}
.interet img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0px 0px 15px #555;
}
/*Section formulaire*/
#box {
  width: 955px;
  margin: 20px auto;
  padding-top: 20px;
  font-family: serif;
}
#form {
  border-radius: 2px;
  padding: 20px 30px;
  box-shadow: 0 0 15px;
  font-size: 14px;
  font-weight: bold;
  width: 350px;
  margin: 20px 250px 0 35px;
  float: left;
}
h3 {
  text-align: center;
  font-size: 20px;
}
input {
  width: 100%;
  height: 35px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px;
}
input[type="submit"] {
  background-color: #ca1e1e;
  border: 1px solid white;
  font-family: serif;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: white;
}
textarea {
  width: 100%;
  height: 80px;
  margin-top: 5px;
  border-radius: 3px;
  padding: 5px;
  resize: none;
}
span {
  color: red;
}
.successMessage {
  background-color: #7acc7d;
  border: #2b5a2d 1px solid;
  padding: 5px 9px;
  color: #262b26;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9em;
}
.errorMessage {
  background-color: #e64141;
  border: #da1414 1px solid;
  padding: 5px 10px;
  color: #fdf7f7;
  border-radius: 4px;
}
.info {
  font-size: 0.9em;
  color: #d67262;
  letter-spacing: 2px;
  padding-left: 5px;
}

/*Version Grand Format*/
@media screen and (min-width: 960px) {
  section {
    width: 80%;
    box-shadow: 0px 0px 10px #bbb;
  }
  .photo img {
    width: 300px;
    height: 300px;
    border: 3px solid #fff;
    box-shadow: 0px 0px 10px #777;
    border-radius: 50%;
    margin-top: -80px;
  }
  a:hover {
    color: #ea0;
  }
  header h1 {
    width: 80%;
  }
  .interetBloc2,
  .contact {
    flex: 0 0 45%;
  }
  .interetBloc2 {
    border-bottom: none;
    border-right: 2px solid #ccc;
    padding-right: 20px;
    margin-left: auto;
  }
  .contact {
    padding-left: 20px;
    margin-right: auto;
  }
  .interetBloc2 a {
    border: 2px solid transparent;
  }
  .interetBloc2 a:hover {
    color: #f28835;
    background-color: #fff;
    border: 2px solid #f28835;
    box-shadow: 0px 0px 20px #666;
  }
  .exp-logo {
    flex: 0 0 10%;
  }
  .exp-info,
  .exp-desc {
    flex: 0 0 85%;
    margin-left: auto;
  }
  .interet {
    flex: 0 1 25%;
  }
}
@media screen and (max-width: 700px) {
  .interetBloc2 {
    width: 60%;
  }
  .interetBloc22 {
    width: 60%;
    height: 70%;
  }
  .reseau {
    margin-bottom: 10px;
  }
}
