<head>
    <title>Yohann Cadet</title>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="./images/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="CSS/cv.css">
</head>

<body>
    <!--titre/haut de page-->
    <header class="partie1">



        <div class="introduction">
            <h1>Yohann CADET</h1>
            <h1>Développeur Web Front-End</h1>
        </div>
    </header>
    <!--Partie présentation-->
    <!--Pour facilement me retrouver dans mon CSS, je joue avec les sections et les div pour pouvoir appliquer le style que je veux-->
    <section class='interetBloc3'>

        <div class="photo">
            <img src="./images/yo.jpg" alt="Ma photo de profil">
        </div>


        <div class='interetBloc2'>
            <h2>Qui suis-je ?</h2>
            <p>Niveau BAC+2 en Informatique.</p>
            <p>Je suis optimiste et dynamique et aujourd'hui je suis déterminé à atteindre ce poste.</p>
            <p>Je suis particulièrement attiré par le côté Front-End pour pourvoir concevoir des interfaces claires et
                simple d’utilisation pour tous.</p>
            <p>Ne jamais arrêter d’apprendre est mon mantra.</p>
            <a href="./images/CVV9.pdf" download>Télécharger mon CV</a>
            <!--Pour avoir le CV sous la main pour compléter-->
            <a href="https://portefolio.yohann-cadet.labo-ve.fr/">Porte-Folio</a>
        </div>

        <div class='interetBloc22'>
            <h2>Informations de contact</h2>
            <div class="contact-flex">
                <p>Nom : </p>
                <p>Yohann CADET</p>
            </div>
            <div class="contact-flex">
                <p>Adresse : </p>
                <p>1341 Chemin de La Plaine - 07400 Alba la Romaine</p>
            </div>
            <div class="contact-flex">
                <p>Zone : </p>
                <p>Ardéche - Drôme</p>
            </div>
            <div class="contact-flex">
                <p>Téléphone :</p>
                <p>06 46 02 68 78</p>
            </div>
            <div class="contact-flex">
                <p>Mail : </p>
                <p><a href="mailto:cadetyohann@gmail.com">cadetyohann@gmail.com</a></p>
                <!--à titre d'exemple mais souvent à éviter-->
            </div>
            <div class="contact-flex">
                <p>Permis :</p>
                <p>B - CACES 1B</p>
            </div>
            </br>
            <div class="social">
                <!--Vu que Facebook ne veut plus renvoyer sur les profils perso, j'ai crée une page dit chantier/erreur pour faire le href sur le clic du logo-->
                <a href="Chantier.html"><img class='reseau' src="./images/Facebook.png" alt="Logo Fb"></a>
                <a href="https://www.linkedin.com/in/yohann-cadet-4704051ba/"><img class='reseau' src="./images/LI.png"
                        alt="Logo Lk"></a>

            </div>
        </div>

    </section>
    <!--Partie Formation-->
    <section class='interetBloc'>
        <h2>Formation</h2>
        <div class="exp">
            <div class="exp-logo">
                <a href="#"><img src="./images/SIMPLON.png" alt="Logo simplon"></a>
            </div>
            <div class="exp-info">
                <h3>Simplon Le Cheylard</h3>
                <h4>2021</h4>
            </div>
            <div class="exp-desc">
                <p>Titre Professionnel Développeur web</p>
            </div>
        </div>
        <div class="exp">
            <div class="exp-logo">
                <a href="#"><img src="./images/IUT.png" alt="Logo IUT"></a>
            </div>
            <div class="exp-info">
                <h3>IUT de Valence</h3>
                <h4>2016 - 2019</h4>
            </div>
            <div class="exp-desc">
                <p>DUT INFO</p>
            </div>
        </div>
        <div class="exp">
            <div class="exp-logo">
                <a href="#"><img src="./images/Catalins.jpg" alt="Logo Catalins"></a>
            </div>
            <div class="exp-info">
                <h3>Lycée des Catalins Montélimar</h3>
                <h4>2012 - 2016</h4>
            </div>
            <div class="exp-desc">
                <p>Bac S Science de l'ingénieur option Informatique et Sciences du Numérique</p>
            </div>
        </div>
    </section>
    <!--Partie Compétences-->
    <section class='interetBloc'>
        <h2>Compétences</h2>
        <h3 class="h3gauche">Professionnelles</h3>
        <div class="comp">
            <p>HTML / CSS</p>
            <div class="conteneur-barre"><span class="barre c95"></span></div>
        </div>
        <div class="comp">
            <p>PHP / MySQL</p>
            <div class="conteneur-barre"><span class="barre c80"></span></div>
        </div>
        <div class="comp">
            <p>JavaScript</p>
            <div class="conteneur-barre"><span class="barre c85"></span></div>
        </div>
        <h3 class="h3gauche">Personnelles</h3>
        <div class="comp2">
            <p>Créativité</p>
            <p>80%</p>
            <div class="conteneur-barre2"><span class="barre c80"></span></div>
        </div>
        <div class="comp2">
            <p>Adaptation</p>
            <p>90%</p>
            <div class="conteneur-barre2"><span class="barre c90"></span></div>
        </div>
        <div class="comp2">
            <p>Sérieux</p>
            <p>95%</p>
            <div class="conteneur-barre2"><span class="barre c95"></span></div>
        </div>
        <div class="comp2">
            <p>Optimiste</p>
            <p>100%</p>
            <div class="conteneur-barre2"><span class="barre c100"></span></div>
        </div>
    </section>
    <!--Partie Expériences-->
    <section class='interetBloc'>
        <h2>Expériences professionnelles</h2>
        <div class="exp">
            <div class="exp-logo">
                <img src="./images/ITM.png" alt="Intermarché"></a>
            </div>
            <div class="exp-info">
                <h3>Préparateur de Commande Cariste</h3>
                <h4>Base ITM Pierrelatte</h4>
                <h4>Juin 2019 - Juin 2020</h4>
            </div>
            <div class="exp-desc">
                <p>Préparation des commandes, gerbage et déplacement des palettes</p>
            </div>
        </div>
        <div class="exp">
            <div class="exp-logo">
                <a href="#"><img src="./images/Thales.png" alt="Thales"></a>
            </div>
            <div class="exp-info">
                <h3>Projet Coβra</h3>
                <h4>Thales Avionics</h4>
                <h4>Octobre 2018 - Avril 2019</h4>
            </div>
            <div class="exp-desc">
                <p>Projet professionnel de 2ème année de DUT INFO. Calcul de rentabilité des pièces construites.</p>
            </div>
        </div>
        <div class="exp">
            <div class="exp-logo">
                <a href="#"><img src="./images/GV.jpg" alt="Gineste Voyages"></a>
            </div>
            <div class="exp-info">
                <h3>Créaction du site WEB via Joomla!</h3>
                <h4>Gineste Voyages</h4>
                <h4>Octobre 2016 - Janvier 2017</h4>
            </div>
            <div class="exp-desc">
                <p>Projet professionnel de 1ème année de DUT INFO.</p>
            </div>
        </div>
    </section>

    <!--Centre d'intérêt-->
    <section class='interetBloc'>
        <h2>Centres d'intérêt</h2>
        <figure class="interet">
            <!--Pour pouvoir insérer la légende facilement-->
            <img src="./images/boxe.jpg" alt="Boxe">
            <figcaption>Boxe Américaine</figcaption>
        </figure>
        <figure class="interet">
            <img src="./images/foot.jpg" alt="Football">
            <figcaption>Football</figcaption>
        </figure>
        <figure class="interet">
            <img src="./images/gaming.jpg" alt="Gaming">
            <figcaption>Jeux vidéos</figcaption>
        </figure>
        <figure class="interet">
            <img src="./images/Jojo.jpg" alt="Manga">
            <figcaption>Manga</figcaption>
        </figure>
    </section>
    <!--contact-->
    <section class='interetBloc'>
        <form class="form" action="formulaire.php" method="post">
            <p><i>Complétez le formulaire. Les champs marqué par </i><em>*</em> sont <em>obligatoires</em></p>
            <fieldset style="color:#000000">
                <legend>Contact</legend><br>

                <label>Prénom <em>*</em></label><br><br>
                <input type="text" name="prenom" pattern="[A-Za-z-]{2,}" maxlength="50" required><br><br>

                <label>Nom <em>*</em></label><br><br>
                <input type="text" name="nom" pattern="[A-Za-z-]{2,}" maxlength="50" required><br><br>

                <label>Portable</label>
                <br><br>
                <input id="telephone" type="tel" placeholder="06xxxxxxxx" pattern="[0]{1}[6-7]{1}[0-9]{8}"><br><br>

                <label>Email <em>*</em></label><br><br>
                <input id="email" name="email" type="email" placeholder="Email" required
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"><br>
                <br>

                <label for="message">Laissez nous un message : <em>*</em></label><br><br>
                <textarea id="message" name="message" rows="5" cols="33" required pattern="[A-Za-z]{2,}"
                    maxlenght="1000"></textarea>
            </fieldset>

            <p><input class="bouton" type="submit" value="Envoyer"></p>
        </form>
    </section>
    <!--Bas de Page-->
    <footer>
        <p>©Yohann Cadet</a> 2020</p>
    </footer>
</body>